#root {
  /* min-height: 100vh; */
}

.container {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  /* min-height: 100vh; */
}

/* Inputs Form */
.form-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.form-group label {
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
  /* color: #77ffef; */
  /* pointer-events: none; */
  /* transition: all 0.3s ease-in-out; */
  /* opacity: 0.9; */
}

.form-group input[type='number'],
.form-group input[type='text'] {
  /* width: 100%; */
  padding: 12px 14px;
  margin-bottom: 6px;
  font-size: 16px;
  outline: none;
  border: 1px solid #3e4446;
  border-radius: 4px;
  /* transition: all 0.3s ease-in-out; */
}
.form-group input:focus[type='number'],
.form-group input:focus[type='text'] {
  border-color: var(--primary-color);
  box-shadow: 0 4px 8px var(--primary-color);
}
.form-group input[type='number']:hover {
  /* border-bottom: 1px solid var(--primary-color); */
}

button {
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.btn {
  /* display: inline-block; */
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  margin: 20px;
  /* transition: box-shadow 0.3s ease; */
}
.btn:hover {
  /* box-shadow: 0 4px 8px var(--secondary-color); */
  /* filter: brightness(1.1) contrast(1.2) saturate(1.3); */
  filter: brightness(1.1);
}

.btn-sm {
  margin: 10px;
  padding: 10px 20px;
  font-size: 12px;
  border: 1px solid #3e4446;
  border-radius: 4px;
  background-color: var(--backgroung-color-);
}
.btn-sm:hover {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 4px 8px var(--secondary-color);
  /* text-shadow: 2px 2px 5px var(--secondary-color); */
}

.active {
  background-color: var(--secondary-color);
  box-shadow: none;
}

.downloadBtn:active {
  background-color: #00897b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.downloadBtn:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
  box-shadow: none;
}
/* Results Section */
.results {
  /* margin: 0 auto; */
  /* justify-content: center; */
  /* gap: 20px; */
}
.results h2,
h3 {
  margin: 5px 0;
}
.single-result {
  /* border: 1px solid red; */
  margin: 10px 30px;
  /* padding: 10px 20px; */
}
.best-option {
  /* margin: 10px 0; */
  margin-top: 10px;
}

/* Small (sm) - 640px */
@media (max-width: 640px) {
  /* Styles for sm screens and up */
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    gap: 20px;
  }
}

/* Medium (md) - 768px */
@media (min-width: 768px) {
  /* Styles for md screens and up */
}

/* Large (lg) - 1024px */
@media (min-width: 1024px) {
  /* Styles for lg screens and up */
}

/* Extra Large (xl) - 1280px */
@media (min-width: 1280px) {
  /* Styles for xl screens and up */
}

/* 2XL (2xl) - 1536px */
@media (min-width: 1536px) {
  /* Styles for 2xl screens and up */
}
