#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  /* line-height: 1.1; */
}

button {
  /* display: inline-block; */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  margin: 20px;
  cursor: pointer;
  /*zistit co presne robi ten transition pri background color */
  transition: background-color 0.1s ease, box-shadow 0.3s ease;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
}

button:hover {
  filter: brightness(1.1);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.btn-sm {
  padding: 10px 20px;
  font-size: 12px;
}

.downloadBtn:active {
  background-color: #00897b;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.downloadBtn:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
  box-shadow: none;
}

/* Inputs Form */
.form-container {
  /* margin: 20px; */
  /* display: flex; */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.input-field {
  position: relative;
  width: 48%;
}

.input-field input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  /* transition: all 0.3s ease-in-out; */
}

.input-field input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 123, 123, 0.25);
}

.input-field label {
  /* position: absolute;
  top: -10px;
  left: 14px; */
  font-size: 16px;
  color: white;
  /* color: #00796b; */
  /* pointer-events: none; */
  transition: all 0.3s ease-in-out;
  /* opacity: 0.6; */
}

.input-field input:not(:placeholder-shown) + label,
.input-field input:focus + label {
  top: -18px;
  font-size: 12px;
  opacity: 1;
}

.input-field input:focus ~ label {
  color: var(--primary-color);
}

.input-field input:hover {
  border-color: #00796b;
}

.input-field input:focus ~ label,
.input-field input:not(:empty) ~ label {
  /* color: #00796b; */
  box-shadow: 0 5px 10px rgba(0, 123, 123, 0.25);
}
