* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* Css Utils Classes */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
  justify-content: center;
}
.border {
  border: none;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* DownloadDXFButton.module.css */
.btn-primary {
  display: inline-block;
  background-color: #26a69a; /* Teal shade */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover {
  background-color: #2bbbad; /* Lighter teal on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.downloadBtn:active {
  background-color: #00897b; /* Darker teal on click */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.downloadBtn:disabled {
  background-color: #bdbdbd; /* Gray for disabled */
  cursor: not-allowed;
  box-shadow: none;
}
